.info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin:4rem auto;
    max-height: 100px;
    padding:20px 0;
    border-top:2px solid #b7383c;
    border-bottom:2px solid #b7383c; 
    .item {
        flex:1;
        display: flex;
        justify-content: center;
        .icon {
            color:#b7383c;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 5px;
        }
        .desc {
            margin: auto 0;
            h3 {color:#b7383c;text-transform: uppercase;margin:0;padding:0;}
            p {margin:0;padding:0;color:#606060;font-size:0.9rem;}
        }
    }
}
@media only screen and (max-width: 1023px) and (min-width: 480px) {
    .info {
        flex-wrap: wrap;
        max-height: none;
        .item {
            flex: 0 0 50%;
            padding:20px 0 10px;
        }
        .item:first-child, .item:nth-child(2) {
            padding:0 0 10px 0;
        }
    }
  }
  @media only screen and (max-width: 479px) {
    .info {
        flex-wrap: wrap;
        max-height: none;
        .item {
            flex: 0 0 100%;
            padding:20px 0 20px;
        }
        .item:first-child {
            padding:0 0 10px 0;
        }
        .item:nth-child(4) {
            padding: 10px 0 0 0;
        }
    }
  }